/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");

/* common */
* {
  box-sizing: border-box;
}

.body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2em;
  color: #575445;
}

h1,
h2 {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.logo {
  width: 128px;
}

.logo img {
  width: 100%;
}

.menu {
  display: flex;
  justify-content: space-between;

  width: 460px;
}

.menu__item a {
  font-size: 13px;
  line-height: 1.08em;
  color: #444;
}

.menu__item_active a {
  font-size: 15px;
}

.btn {
  min-width: 125px;
  padding: 10px 18px;

  border: none;
  border-radius: 6px;

  font-size: 16px;
  line-height: 1.37em;
  color: #ffffff;

  background-color: #575445;
}

.section-title {
  margin-bottom: 7px;

  font-family: "Roboto", sans-serif;
  font-size: 36px;
  line-height: 1.2em;
  color: #575445;
}

.section-description {
  width: 538px;

  font-size: 16px;
  line-height: 1.2em;
  color: #575445;
}

.section-link {
  font-size: 15px;
  line-height: 1.4em;
  color: #575445;
}

.section-link::after {
  content: "";

  /* display: inline-block;

  width: 20px;
  height: 10px; */

  margin-left: 6px;
  transition: margin-left 0.3s ease;

  /* background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; */
}

.section-link:hover::after {
  margin-left: 10px;
}

.link-arrow::after {
  content: "";

  display: inline-block;

  width: 20px;
  height: 10px;

  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* header */
.header {
  background-color: #fff;
  padding: 18px 0;
}

.header__content {
  display: flex;
  align-items: center;

  padding: 0 16px;
}

.header__nav {
  margin-right: 40px;
  margin-left: auto;
}

.header__btn-buy {
  margin-right: 20px;
}

/* offer */
.offer {
  padding-top: 237px;
  padding-bottom: 227px;

  background-image: url("../img/offer-background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.offer__title {
  width: 416px;
  margin-bottom: 9px;

  font-family: "Roboto", sans-serif;
  font-size: 48px;
  line-height: 1.2em;
  color: #ffffff;
}
.offer__description {
  width: 495px;

  font-size: 17px;
  line-height: 1.48em;
  color: #caccd1;
}

/* about */
.about {
  padding: 100px 0;

  background-color: #fff;
}

.about__content {
  display: flex;
}

.about__img,
.about__info {
  width: 50%;
}

.about__info {
  padding-top: 71px;
  padding-left: 43px;
}

.about__description {
  width: 395px;
  margin-bottom: 32px;
}

/* products */
.products {
  padding-top: 119px;
  padding-bottom: 100px;

  background: #fafafc;
}

.products__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product__title,
.products__description {
  text-align: center;
}

.products__description {
  margin-bottom: 71px;
}

.products__items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;

  width: 100%;
  min-height: 551px;
}

.products__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 275px;
  width: 389px;
  padding-top: 50px;
  padding-bottom: 59px;

  text-align: center;
}

.product-item__img {
  margin-bottom: 13px;
}

.product-item__title {
  margin-bottom: 9px;

  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 1.2em;
}

.product-item__description {
  width: 287px;

  font-size: 14px;
  line-height: 1.4em;
}

/* for you */
.for-you {
  padding: 100px 0;
}

.for-you__content {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0 15px;
}

.for-you__title,
.for-you__description {
  text-align: center;
}

.for-you__description {
  margin-bottom: 21px;
}

.for-you__items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;

  width: 1168px;
  height: 963px;
  margin-bottom: 20px;
}

.for-you__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 379px;
  height: 473px;
  padding-top: 39px;
  border-radius: 10px;

  color: #575445;

  background-position: center center;
  background-size: 379px;

  filter: grayscale(100);
  transition-property: filter, background-size;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.for-you__item:hover {
  filter: grayscale(0);
  background-size: 390px;
  cursor: pointer;
}

.for-you__item:hover .for-you__item-link::after {
  margin-left: 8px;
}

/* .for-you__item:nth-child(n + 4) {
  margin-top: 16px;
}

.for-you__item:not(:nth-child(3n)) {
  margin-right: 16px;
} */

.for-you__item-heading {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  line-height: 1.2em;

  text-align: center;
}
.for-you__item-description {
  width: 252px;
  margin-bottom: 20px;

  font-size: 16px;
  line-height: 1.4em;

  text-align: center;
}
.for-you__item-link {
  font-size: 15px;
  line-height: 1.4em;
  color: #575445;
}

.for-you__item-link::after {
  content: "";

  /* display: inline-block;

  width: 20px;
  height: 10px; */

  margin-left: 4px;

  transition: margin-left 0.5s ease;

  /* background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; */
}

.img-accessories {
  background-image: url("../img/for-you/compass.jpg");
}

.img-apparel {
  background-image: url("../img/for-you/apparel.jpg");
}

.img-climbing-gear {
  background-image: url("../img/for-you/climbing-gear.jpg");
}

.img-headwear {
  background-image: url("../img/for-you/headwear.jpg");
}

.img-hiking-gear {
  background-image: url("../img/for-you/hiking-gear.jpg");
}

.img-jackets {
  background-image: url("../img/for-you/jackets.jpg");
}
