/* fonts */
/* @import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Roboto&display=swap");

/* common */
* {
  box-sizing: border-box;
}

.body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2em;
  color: #575445;
}

h1,
h2 {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.logo {
  width: 128px;
}

.logo img {
  width: 100%;
}

.menu {
  display: flex;
  justify-content: space-between;

  width: 460px;
}

.menu__item a {
  font-size: 13px;
  line-height: 1.08em;
  color: #444;
}

.menu__item_active a {
  font-size: 15px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 125px;
  height: 44px;
  padding: 0 18px;

  border-radius: 6px;
  border: 2px solid #575445;

  font-size: 16px;
  line-height: 1.37em;
  color: #ffffff;

  background-color: #575445;

  transition-property: border, color, background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.btn:hover {
  border: 2px solid #575445;

  color: #575445;

  background-color: #fff;
}

.btn_light {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 111px;
  height: 44px;
  border-radius: 6px;
  border: 2px solid #fff;

  font-size: 15px;
  line-height: 1.49em;
  color: #575445;

  background-color: #fff;

  transition-property: border, color, background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.btn_light:hover {
  border: 2px solid #fff;

  color: #fff;

  background-color: #575445;
}

.section-title {
  margin-bottom: 7px;

  font-family: "Roboto", sans-serif;
  font-size: 36px;
  line-height: 1.2em;
  color: #575445;
}

.section-description {
  width: 538px;

  font-size: 16px;
  line-height: 1.2em;
  color: #575445;
}

.section-link {
  font-size: 15px;
  line-height: 1.4em;
  color: #575445;
}

.section-link::after {
  content: "";

  /* display: inline-block;

  width: 20px;
  height: 10px; */

  margin-left: 6px;
  transition: margin-left 0.3s ease;

  /* background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; */
}

.section-link:hover::after {
  margin-left: 10px;
}

.link-arrow::after {
  content: "";

  display: inline-block;

  width: 20px;
  height: 10px;

  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* header */
.header {
  background-color: #fff;
  padding: 18px 0;
}

.header__content {
  display: flex;
  align-items: center;

  padding: 0 16px;
}

.header__nav {
  margin-right: 40px;
  margin-left: auto;
}

.header__btn-buy {
  margin-right: 20px;
}

/* offer */
.offer {
  padding-top: 237px;
  padding-bottom: 227px;

  background-image: url("../img/offer-background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.offer__title {
  width: 416px;
  margin-bottom: 9px;

  font-family: "Roboto", sans-serif;
  font-size: 48px;
  line-height: 1.2em;
  color: #ffffff;
}
.offer__description {
  width: 495px;

  font-size: 17px;
  line-height: 1.48em;
  color: #caccd1;
}

/* about */
.about {
  padding: 100px 0;

  background-color: #fff;
}

.about__content {
  display: flex;
}

.about__img,
.about__info {
  width: 50%;
}

.about__info {
  padding-top: 71px;
  padding-left: 43px;
}

.about__description {
  width: 395px;
  margin-bottom: 32px;
}

/* products */
.products {
  padding-top: 119px;
  padding-bottom: 100px;

  background: #fafafc;
}

.products__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product__title,
.products__description {
  text-align: center;
}

.products__description {
  margin-bottom: 71px;
}

.products__items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;

  width: 100%;
  min-height: 551px;
}

.products__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 275px;
  width: 389px;
  padding-top: 50px;
  padding-bottom: 59px;

  text-align: center;
}

.product-item__img {
  margin-bottom: 13px;
}

.product-item__title {
  margin-bottom: 9px;

  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 1.2em;
}

.product-item__description {
  width: 287px;

  font-size: 14px;
  line-height: 1.4em;
}

/* for you */
.for-you {
  padding: 100px 0;
}

.for-you__content {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0 15px;
}

.for-you__title,
.for-you__description {
  text-align: center;
}

.for-you__description {
  margin-bottom: 21px;
}

.for-you__items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;

  width: 1168px;
  height: 963px;
  margin-bottom: 20px;
}

.for-you__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 379px;
  height: 473px;
  padding-top: 39px;
  border-radius: 10px;

  color: #575445;

  background-position: center center;
  background-size: 379px;

  filter: grayscale(100);
  transition-property: filter, background-size;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.for-you__item:hover {
  filter: grayscale(0);
  background-size: 390px;
  cursor: pointer;
}

.for-you__item:hover .for-you__item-link::after {
  margin-left: 8px;
}

/* .for-you__item:nth-child(n + 4) {
  margin-top: 16px;
}

.for-you__item:not(:nth-child(3n)) {
  margin-right: 16px;
} */

.for-you__item-heading {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  line-height: 1.2em;

  text-align: center;
}
.for-you__item-description {
  width: 252px;
  margin-bottom: 20px;

  font-size: 16px;
  line-height: 1.4em;

  text-align: center;
}
.for-you__item-link {
  font-size: 15px;
  line-height: 1.4em;
  color: #575445;
}

.for-you__item-link::after {
  content: "";

  /* display: inline-block;

  width: 20px;
  height: 10px; */

  margin-left: 4px;

  transition: margin-left 0.5s ease;

  /* background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; */
}

.img-accessories {
  background-image: url("../img/for-you/compass.jpg");
}

.img-apparel {
  background-image: url("../img/for-you/apparel.jpg");
}

.img-climbing-gear {
  background-image: url("../img/for-you/climbing-gear.jpg");
}

.img-headwear {
  background-image: url("../img/for-you/headwear.jpg");
}

.img-hiking-gear {
  background-image: url("../img/for-you/hiking-gear.jpg");
}

.img-jackets {
  background-image: url("../img/for-you/jackets.jpg");
}

/* pre-shop */
.pre-shop {
  position: relative;

  height: 600px;

  background-image: url("../img/pre-shop.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.pre-shop__info {
  position: absolute;
  right: 40px;
  bottom: 40px;

  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;

  /* width: 615px; */
  height: 48px;
  padding: 0 22px;
  border-radius: 16px;

  font-size: 12px;
  line-height: 1em;
  color: #ffffff;

  background-color: #292c32;
}

.pre-shop__item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pre-shop__item:not(:last-child) {
  margin-right: 21px;
}

.pre-shop__item::before {
  content: "";

  display: inline-block;

  width: 16px;
  height: 16px;

  margin-right: 8px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.photographer::before {
  height: 13px;
  background-image: url("../img/pre-shop/Camera-Icon.svg");
}

.member::before {
  position: relative;
  bottom: 3px;

  width: 15px;
  background-image: url("../img/pre-shop/Person-Icon.svg");
}

.location::before {
  background-image: url("../img/pre-shop/Location-Icon.svg");
}

/* check-out */
.check-out {
  padding: 100px 0;
  background-color: #375c58;
}

.check-out__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.check-out__name {
  font-size: 14px;
  line-height: 1.4em;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fafafc;
}

.check-out__title {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  line-height: 1.2em;
  color: #e6b939;
}

.check-out__description {
  width: 538px;
  margin-bottom: 21px;

  font-size: 16px;
  line-height: 1.2em;
  color: #fafafc;
  text-align: center;
}

/* guides */
.guides {
  padding: 100px 0;
}

.guides__content {
  display: flex;
  flex-direction: column;

  padding: 0 16px;
}

.guides__description {
  margin-bottom: 20px;
}

.guides__main-link {
  display: inline-block;
  margin: 0 auto;
}

.guides__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-bottom: 20px;
}

.guides-item {
  display: flex;
  flex-direction: column;

  width: 568px;
  height: 455px;
}

.guides-item__img {
  width: 100%;
  height: 319px;
  margin-bottom: 20px;

  border-radius: 20px;
}

.guides-item__description {
  width: 485px;
  margin-bottom: 12px;

  font-size: 20px;
  line-height: 1.2em;
}

.author {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  margin-top: auto;
}

.author__info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.author__img {
  width: 50px;
  height: 50px;

  margin-right: 12px;
}

.author__name {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  line-height: 1.4em;
}

.author__position {
  font-size: 11px;
  line-height: 1.4em;

  color: #e6b939;
}

.author__data-post {
  font-size: 13px;
  line-height: 1.4em;

  color: #6f7278;
}

.guidess__main-link {
  align-self: center;
}

/* magazine */
.magazine {
  padding: 100px 0;
}

.magazine__content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.magazine__info {
  width: 400px;
  margin-left: 104px;
}

.magazine__description {
  width: auto;
  margin-bottom: 20px;
}

.magazine__main-link::after {
  content: "";

  margin-left: 4px;
}

/* footer */
.footer {
  padding: 100px 0;

  background-color: #575445;
}

.footer__logo {
  margin: 0 auto 76px auto;
}

.footer__main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  margin-bottom: 31px;
}

.footer__item {
  width: 221px;
}

.footer__list-title {
  margin-bottom: 11px;

  font-size: 14px;
  line-height: 1.4em;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #e6b939;
}

.footer__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 164px;
}

.footer__item {
  margin-bottom: 9px;
}

.footer__list-link {
  font-size: 14px;
  line-height: 1.4em;
  color: #ffffff;

  transition: text-shadow 0.5s ease;
}

.footer__list-link:hover {
  text-shadow: 0 0 8px #fff;
}

.newsletter {
  width: 458px;
}

.newsletter__description {
  margin-bottom: 9px;

  font-size: 14px;
  line-height: 1.4em;
  color: #fafafc;
}

.newsletter__input-wrap {
  position: relative;
}

.newsletter__input {
  width: 100%;
  height: 53px;
  border: none;
  border-radius: 8px;
  padding-left: 21px;
}

.newsletter__input::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 1.4em;
  color: #575445;
}

.newsletter__input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 1.4em;
  color: #575445;
}
.newsletter__input::-moz-placeholder {
  /* Firefox 19+ */
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 1.4em;
  color: #575445;
}
.newsletter__input:-ms-input-placeholder {
  /* IE 10+ */
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 1.4em;
  color: #575445;
}
.newsletter__input:-moz-placeholder {
  /* Firefox 18- */
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 1.4em;
  color: #575445;
}

.newsletter__submit {
  position: absolute;
  right: 7px;
  top: 7px;
  bottom: 7px;

  min-width: 73px;
  height: 39px;

  /* border: none; */
  border-radius: 10px;

  font-size: 14px;
  line-height: 1.4em;

  color: #ffffff;

  background-color: #575445;

  cursor: pointer;
}

.footer__bottom-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer__rights {
  font-size: 14px;
  line-height: 1.4em;
  color: #ffffff;
}

.footer__social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 156px;
}

.social__img {
  position: relative;
  bottom: 0;

  transition: bottom 0.5s ease;
}

.social__link:hover .social__img {
  bottom: 4px;
}
